/* General Styles */
body {
    margin: 0;
    background-color:#fff1d2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Nav Styles */
nav {
    background-image: linear-gradient(#5D8736, #ceeab4);
    border: 2px solid black;
    height: 30px;

    padding: 8px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: larger;
    
    margin-bottom: 30px;
    margin-top: 1%;
    margin-left: 16%;
    margin-right: 16%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav p {
    margin-left: 30px;
    margin-right: 30px;
    display: block;
    padding: 5px;
}

nav a {
    padding: 5px;
    background-color: #5D8736;
    border: 2px solid black;
    color: white;   
    text-decoration: none;
}

nav a:hover {
    color:black;
    background-color: white;
    border: 2px solid #415a2a;
}

/* Footer Styles */
footer {

    background-image: linear-gradient(#ceeab4, #5D8736);
    border-top: 2px solid black;
    height: 20px;

    margin-top: auto;

    padding: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: bold;

    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center
}

footer a {  
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* Splash Section */
.splash {
    text-align: center;
    margin-bottom: 30px;
}

.splash h1 {
    display: inline-block;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;

    margin-top: 10px;
    margin-bottom: 7px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    color: #f9f9f9;

    background-color: #5D8736;
    border: 2px solid black;
}

.splash img {
    display: block;

    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;

    border-color: black;
    border: 2px solid;
    border-radius: 100px;
}

.splash p {
    margin: 0;
    margin-bottom: 3px;
    margin-right: 15%;
    margin-left: 15%;
    display: inline-block;
    
    padding: 7px;

    font-size: medium;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #415a2a;

    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 20px;
}

/* Horizontal Rules */
hr {
  border: 1px dashed black;
  clear:both;

  width: 96%;
}

/* Sections */
section {
    text-align: center;

}

/* Section Headings */
section h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 3px;

    display: inline-block;
    font-size:x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9f9f9;

    background-color:#5D8736;
    border: 1px solid black;
}

/* Paragraph Styles */
section p {
    margin: 0;
    flex-wrap: nowrap;
    padding: 3px;
    display: inline-block;
    font-weight: 500;
    font-size: medium;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #415a2a;

    background-color: #f9f9f9;
    border: 1px solid black;
}

/* link styles */
section a {
    color: #415a2a;
    text-decoration: none;
}
section a:hover {
    color: black;
}

/* List Styles */
ul {
    justify-content: center;
    margin: auto;
   
    width: 425px;
    padding: 3px;

    display: grid;

    font-weight: 500;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #415a2a;

    background-color: #f9f9f9;
    border: 1px solid black;
    text-align: left;
}

dl {
    justify-content: center;
    margin: auto;
    width: fit-content;
    padding: 3px;

    display: grid;

    font-weight: 500;
    font-size:medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #415a2a;

    background-color: #f9f9f9;
    border: 1px solid black;
    text-align: left;
}
dl dt{}
dl dd{}

/* Project Section */
.project {
    font-size:xx-large;
    width: 170px;
}

.three-col {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
    gap: 12px;
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 2px solid black;
    box-shadow: 0 3px 7px 0 #0000004d;
    transition: 0.3s;

}

.card:hover {
    box-shadow: 0 7px 14px 0 #0000004d;
  }

.card ul {
    margin: 0;
    padding-left: 30px;
    border: none;
    border-top: 1px solid black;
}

.card img {
    padding: 5px;
    margin: 0;
    max-width: 100%;
  height: auto;
}

.card h3 {
    margin: 0;
    padding: 3px;

    font-size:x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9f9f9;

    background-color:#5D8736;
    border-top: 1px solid black;
}

/* Contact Page Styles */
.one-col {
    text-align: center;
    margin-bottom: 30px;
}

.one-col p {
    margin-right: 15%;
    margin-left: 15%;
    display: inline-block;
    
    padding: 7px;

    font-size: medium;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #415a2a;

    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 20px;
}

.one-col h1{
    display: inline-block;
    padding: 5px;

    margin-top: 10px;
    margin-bottom: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    color: #f9f9f9;

    background-color: #5D8736;
    border: 2px solid black;
}

form {
    margin: auto;
    padding: 20px;
    margin-top: 30px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: 500;
    color: #415a2a;

    background-color: #f9f9f9;
    border: 2px solid black;
}

form input, form textarea {
    margin-bottom: 15px;
    width: 500px;
    height: auto;
    border: 3px solid gray;
    transition: 0.3s;
    outline: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 400;
}

form input:focus, form textarea:focus {
    border: 3px solid #415a2a;
}

form button {
    height: 40px;
    width: 100px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 500;
    color: #f9f9f9;

    background-color: #5D8736;
    border: 2px solid black;

}

form button:hover {
    color: black;
    background-color: white;
    border: 3px solid #5D8736;
}
